<h1>edit</h1>


<%= form_for @user do |f| %>
  <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
  </div>
  <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
  </div>
  <div>
      <%= f.label :status %>
      <%= f.select :status, options_for_select([["Select One", ""], "prospective student", "student", "graduate"]) %>
  </div>
  <div>
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
  </div>
  <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
  </div>
   <div>
      <%= f.label :password_confimation %>
      <%= f.password_field :password_confirmation %>
  </div>
  <div>
      <%= f.submit 'edit' %>
  </div>
<% end %>


