

<div class="col-md-4 col-md-offset-4">
<h1 class="intro">Sign Up</h1>


<%= form_for @user do |f| %>
  <div>
      <%= f.label :name %> <br>
      <%= f.text_field :name %>
  </div>
  <div>
      <%= f.label :email %> <br>
      <%= f.text_field :email %>
  </div>
  <div>
      <%= f.label :password %> <br>
      <%= f.password_field :password %>
  </div>
   <div>
      <%= f.label :password_confimation %> <br>
      <%= f.password_field :password_confirmation %>
  </div>
  <div>
      <%= f.label :status %> <br>
      <%= f.select :status, options_for_select([["Select One", ""], "prospective student", "student", "graduate"]) %>
  </div>
  <div>
      <%= f.label :avatar %> <br>
      <%= f.file_field :avatar %>
  </div>

  <div class="submit">
      <%= f.submit 'Submit' %>
  </div>
<% end %>
</div>



