
<div class="col-md-4 col-md-offset-4">
<ul>
    <li>
    <%= @user.name %> <br>
    <%= @user.email %> <br>
    <%= @user.status %> <br>
    <%= image_tag @user.avatar.url(:medium) %>
    <!--<%#= link_to 'Github', @user.github %> -->
    </li>
</ul>
</div>

<h3 class="col-md-4 col-md-offset-4">Activities</h3>
<% @user.activities.each do |activity| %>
    <div class="row">
        <table class="table table-striped ">
        <th class="col-md-4 col-md-offset-4"><%= link_to activity.title, activity_path(activity.id) %></th>
        </table>
        <%= link_to 'Delete', activity_path(activity.id), method: :delete, data: { confirm: 'Are you sure?' } %> -
        <%= link_to 'Edit', edit_activity_path(activity.id) %>

    </div>


<% end %>
<div class="col-md-4 col-md-offset-4 add_activities">
    <%= link_to 'Add Activity', new_activity_path %>
</div>


