<div class="col-md-4">
<h3>Edit your activites</h3>

<%= form_for @activity do |f| %>
  <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <%= f.label :description %> <br>
      <%= text_area(:description, :activity, cols: 100, rows: 10) %>
    </div>
  </div>
  <div>
      <%= f.label :when %>
      <%= f.select :when, options_for_select([["Select One", ""], "past", "present", "future"]) %>
  <div>
      <%= f.submit 'save' %>
  </div>
<% end %>
