<%= form_for @activity do |f| %>
  <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
  </div>
  <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
  </div>
  <div>
      <%= f.label :when %>
      <%= f.select :when, options_for_select([["Select One", ""], "past", "present", "future"]) %>
  </div>

  <div>
      <%= f.submit %>
  </div>
<% end %>



