<p>Activities</p>
<ul>

    <li>
    <%= link_to @activity.title %> <br>
    <%= @activity.description %> <br>
    <%= @activity.when %> <br>
    <%= @activity.user_id %>
    </li>
</ul>
    <div>
    <%= link_to 'Destroy', @activity, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>


